// Sass Variables

// -- LIGHT
$light-bg-primary: #fe2a72;
$light-bg-secondary: #db3e3e;

$light-text-primary: #ebebeb;

// -- DARK
$dark-bg-primary: #ef88bb;
$dark-bg-secondary: #382350;

$dark-text-primary: #333;
